%h1
  Sprintimer

.container{'timer-app' => true}
  .timer-section-container{'data-interval-sections' => true}
    .timer-section{'data-interval' => 1}
      %input.minutes{value: 50, 'data-interval-input' => true}
      %span minutes interval
    %br
    %br
    %br

    .timer-section{'data-interval' => 2}
      %input.minutes{value: 10, 'data-interval-input' => true}
      %span minutes interval
      %i.delete{'data-delete-interval' => true}= "[X]"
  .timer-ctrls
    %button{'data-start-timer' => true} START
    %button{'data-pause-timer' => true} PAUSE
    %br
    %button{'data-clear-timer' => true} CLEAR ALL INTERVALS
    %br
  .timer-visual{'data-timer-ticker' => true}

  TOTAL TIME:
  %span{'data-total' => 0} 0
  %br
  %br
  %br
  %button{'data-add-interval' => true} Add one more interval
  %br
  %br
  %br
  %button{'data-save-timer' => true} Save this timer
  %span for next time ;)
