%h1
  Sprintimer

.container{'timer-app' => true}
  .timer-section-container{'data-interval-sections' => true}
    .timer-section{'data-timer' => 1}
      %input.minutes{value: 50, 'data-timer-input' => true}
      %span minutes interval
    %br
    %br
    %br

    .timer-section{'data-timer' => 2}
      %input.minutes{value: 10, 'data-timer-input' => true}
      %span minutes interval
      %i.delete{'data-delete-interval' => true}= "[X]"
  %br
  %br
  %br
  TOTAL TIME:
  %span{'data-total' => 0} 0
  %br
  %br
  %br
  %button{'data-add-interval' => true} Add one more interval
  %br
  %br
  %br
  %button{'data-save-timer' => true} Save this timer
  %span for next time ;)
